:root{
    --bg-color: #fBf8f3;
    --text-color: #2c221e;
    --card-color: #efece6;
    --border-color: #657962;
}

/* Base */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: sans-serif;
    padding: 20px;
}
/* Layout */
h1, h2, #searchForm {
    max-width: 600px;
    margin: 0 auto;
}

#searchResults, #shelf {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#searchForm{
    display: flex;
    gap: 8px;
}

h2{
    margin-top: 30px;
}


/* Cards */
.card {
    background-color: var(--card-color);
    padding: 15px;
    border-radius: 15px;
    border: 1px solid;
    border-color: var(--border-color);
    display: flow-root;
}

progress { 
    accent-color: var(--border-color);
    width: 100%;
}

input[type="number"] { width: 70px; }

.card img{
    width: 100px;
    border-radius: 7px;
    float: left;
    margin-right: 15px;
}

.card input,
.card select {
    padding: 6px 8px;
    border: 1px solid var(--border-color);
    border-radius : 6px;
    background-color: var(--bg-color);
    font-family: inherit;
    margin: 4px 6px 4px 0;
}

.card span {
    display: inline-block;
    width: 90px;
}

/* Buttons */
.delete-button {
    background-color: transparent;
    color: #a4483a;
    border: 1px solid #a4483a;
}

button.delete-button:hover:not(:disabled) {
    background-color: #a4483a;
    color: var(--bg-color);
}

button {
    padding: 15px;
    background-color: var(--border-color);
    color: var(--bg-color);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:disabled {
    opacity: 50%;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #3d5a45;
}